<!--    Header-->
  <%= render :partial => "layouts/common/header"%>
<div id="div_flash_message">
  <%= render :partial=>"/layouts/common/flash_message" -%>
</div>
<!--Content Area-->
<div class="container">
  <div class="row"> 
    <div class="col-sm-12">
     <!--Create Button trigger modal -->
     <div class="well-sm pull-right">
       <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myCreate"> Create New Event </button>
     </div>
     <!-- Modal -->
     <div class="modal fade" id="myCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
       <div class="modal-content">
        <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Create a New Event</h4>
       </div>
       <div class="modal-body">

        <!--Model body -->
        <div class="row">
         <div class="col-sm-12">

           <form class="form-horizontal">
            <!--Venue -->
            <div class="form-group">
             <label for="inputEvent" class="col-sm-3 control-label">Event*</label>
             <div class="col-sm-7">
              <input type="text" class="form-control" id="event_name" placeholder="Event">
            </div>
            <div class="col-sm-2"></div>
          </div>
          <!--Venue -->
          <div class="form-group">
           <label for="inputVenue" class="col-sm-3 control-label">Venue</label>
           <div class="col-sm-7">
            <input type="email" class="form-control" id="inputEmail" placeholder="Venue">
          </div>
          <div class="col-sm-2"></div>
        </div>
        <!--Date and Time -->
        <div class="form-group">
         <label for="inputDate" class="col-sm-3 control-label">Date</label>
         <div class="col-sm-3">
          <input type="date" class="form-control" id="inputEmail" placeholder="Date">
        </div>
        <label for="inputTime" class="col-sm-1 control-label">Time</label>
        <div class="col-sm-3">
          <input type="Time" class="form-control" id="inputTime" placeholder="Time">
        </div>
      </div>
      <!--Description -->
      <div class="form-group">
       <label for="inputescription" class="col-sm-3 control-label">Description</label>
       <div class="col-sm-7">
        <textarea class="form-control" id="inputBody" rows="6"></textarea>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <!--Invitees -->
    <div class="form-group">
     <label for="inputescription" class="col-sm-3 control-label">Invitees</label>
     <div class="col-sm-7">
      <table class="table table-responsive table-fixed">
       <thead>
        <tr>
         <th class="col-sm-1">#</th>
         <th class="col-sm-10">Name</th>
       </tr>
     </thead>
     <tbody>
      <tr>
       <td class="col-sm-1"><input type="checkbox" value="true"></td>
       <td class="col-sm-10">Mike Adams</td>
     </tr>
     <tr>
       <td><input type="checkbox" value="true"></td>
       <td>Holly Galivan</td>
     </tr>
     <tr>
       <td><input type="checkbox" value="true"></td>
       <td>Mike Adams</td>
     </tr>
     <tr>
       <td><input type="checkbox" value="true"></td>
       <td>Holly Galivan</td>
     </tr>
     <tr>
       <td><input type="checkbox" value="true"></td>
       <td>Mike Adams</td>
     </tr>
     <tr>
       <td><input type="checkbox" value="true"></td>
       <td>Holly Galivan</td>
     </tr>
   </tbody>
 </table>
</div>
<div class="col-sm-2"></div>
</div>

<!--Status -->
<div class="form-group">
 <label for="inputstatus" class="col-sm-3 control-label">Status</label>
 <div class="col-sm-3">
  <select class="form-control" name="cc_exp_yr">
   <option value="2014">Open</option>
   <option value="2015">Close</option>
   <option value="2016">Blocked</option>
 </select>
</div>
<div class="col-sm-2"></div>
</div>
</form>
<div class="modal-footer">
  <button type="button" class="btn btn-primary ok-btn-padding">OK</button>
  <button type="button" class="btn btn-default ok-btn-padding" data-dismiss="modal">Cancel</button>
</div>
</div>
</div>
<!-- ./ Moodel body -->     
</div>

</div>
</div>
</div>
</div>
<div class="clearfix"></div>
</div>

<div class="row"> 
 <!--List View column -->
 <div class="col-sm-5"> 
  <!--List view begin -->
  <div class="event-panels">
   <div class="row">
    <div class="col-sm-2">
     <div class="order-number">1 </div>
   </div>
   <div class="col-sm-10">
     <div class="event-title"><a href="#">Birthday Party</a></div>
     <div class="organiser"> Praveen</div>
     <!-- Participant button-->     
     <div class="participants"><a href="#" data-toggle="modal" data-target=".participants-list">Participants</a> <span class="badge pull-right">Open</span></div>
     
     <!-- Participant modal -->
     <div class="modal fade participants-list" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Participant List</h4>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-condensed">
               <thead>
                <tr>
                 <th class="col-sm-8">Participants Name</th>
                 <th class="col-sm-4">Status</th>
               </tr>
             </thead>
             <tbody>
              <tr>
               <td class="col-sm-8">Mike Adams</td>
               <td class="col-sm-2"><label class="radio-inline"><input type="radio" name="optionsRadios" id="yes" value="yes1" checked="">Yes</label> <label class="radio-inline"><input type="radio" name="optionsRadios" id="no" value="no1" checked="">No</label></td>
             </tr>
             <tr>
               <td class="col-sm-8">Holly Galivan</td>
               <td class="col-sm-2"><label class="radio-inline"><input type="radio" name="optionsRadios" id="yes" value="yes1" checked="">Yes</label> <label class="radio-inline"><input type="radio" name="optionsRadios" id="no" value="no1" checked="">No</label></td>
             </tr>     
             <tr>
               <td class="col-sm-8">Mike Adams</td>
               <td class="col-sm-2"><label class="radio-inline"><input type="radio" name="optionsRadios" id="yes" value="yes1" checked="">Yes</label> <label class="radio-inline"><input type="radio" name="optionsRadios" id="no" value="no1" checked="">No</label></td>
             </tr>
             <tr>
               <td class="col-sm-8">Holly Galivan</td>
               <td class="col-sm-2"><label class="radio-inline"><input type="radio" name="optionsRadios" id="yes" value="yes1" checked="">Yes</label> <label class="radio-inline"><input type="radio" name="optionsRadios" id="no" value="no1" checked="">No</label></td>
             </tr>  
             <tr>
               <td class="col-sm-8">Mike Adams</td>
               <td class="col-sm-2"><label class="radio-inline"><input type="radio" name="optionsRadios" id="yes" value="yes1" checked="">Yes</label> <label class="radio-inline"><input type="radio" name="optionsRadios" id="no" value="no1" checked="">No</label></td>
             </tr>
             <tr>
               <td class="col-sm-8">Holly Galivan</td>
               <td class="col-sm-2"><label class="radio-inline"><input type="radio" name="optionsRadios" id="yes" value="yes1" checked="">Yes</label> <label class="radio-inline"><input type="radio" name="optionsRadios" id="no" value="no1" checked="">No</label></td>
             </tr>                  
           </tbody>
         </table>
       </div>
       <!-- ./ Participant modal --> 
     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
</div>

</div>
</div>
</div>
<!-- ./List view -->
<div class="event-panels active">
 <div class="row">
  <div class="col-sm-2">
   <div class="order-number">2 </div>
 </div>
 <div class="col-sm-10">
   <div class="event-title"><a href="#">Function 2</a></div>
   <div class="organiser"> Praveen</div>
   <div class="participants"><a href="#" data-toggle="modal" data-target=".participants-list">Participants</a> <span class="badge pull-right">Open</span></div>
 </div>
</div>
</div>
<!--List View column -->  
<div class="event-panels">
 <div class="row">
  <div class="col-sm-2">
   <div class="order-number">3 </div>
 </div>
 <div class="col-sm-10">
   <div class="event-title"><a href="#">Function 3</a></div>
   <div class="organiser"> Praveen</div>
   <div class="participants"><a href="#" data-toggle="modal" data-target=".participants-list">Participants</a> <span class="badge closed pull-right">Closed</span></div>
 </div>
</div>
</div>
<!--List View column -->  
<div class="event-panels">
 <div class="row">
  <div class="col-sm-2">
   <div class="order-number">4 </div>
 </div>
 <div class="col-sm-10">
   <div class="event-title"><a href="#">Function 4</a></div>
   <div class="organiser"> Praveen</div>
   <div class="participants"><a href="#" data-toggle="modal" data-target=".participants-list">Participants</a> <span class="badge closed pull-right">Closed</span></div>
 </div>
</div>
</div>  

<!--List View column -->  
<div class="event-panels">
 <div class="row">
  <div class="col-sm-2">
   <div class="order-number">5 </div>
 </div>
 <div class="col-sm-10">
   <div class="event-title"><a href="#">Function 5</a></div>
   <div class="organiser"> Praveen</div>
   <div class="participants"><a href="#" data-toggle="modal" data-target=".participants-list">Participants</a> <span class="badge closed pull-right">Closed</span></div>
 </div>
</div>
</div>    

</div>
<!-- ./List view -->

<!--Show View item -->
<div class="col-sm-7">
  <div class="row">
   <div class="col-sm-12">
    <div class="well">
     <form class="form-horizontal">
      <!--Venue -->
      <div class="form-group">
       <label for="inputEvent" class="col-sm-3 control-label">Event*</label>
       <div class="col-sm-7">
        <input type="text" class="form-control" id="event_name" placeholder="Event">
      </div>
      <div class="col-sm-2"></div>
    </div>
    <!--Venue -->
    <div class="form-group">
     <label for="inputVenue" class="col-sm-3 control-label">Venue</label>
     <div class="col-sm-7">
      <input type="email" class="form-control" id="inputEmail" placeholder="Venue">
    </div>
    <div class="col-sm-2"></div>
  </div>
  <!--Date and Time -->
  <div class="form-group">
   <label for="inputDate" class="col-sm-3 control-label">Date</label>
   <div class="col-sm-3">
    <input type="date" class="form-control" id="inputEmail" placeholder="Date">
  </div>
  <label for="inputTime" class="col-sm-1 control-label">Time</label>
  <div class="col-sm-3">
    <input type="Time" class="form-control" id="inputTime" placeholder="Time">
  </div>
</div>
<!--Description -->
<div class="form-group">
 <label for="inputescription" class="col-sm-3 control-label">Description</label>
 <div class="col-sm-7">
  <textarea class="form-control" id="inputBody" rows="6"></textarea>
</div>
<div class="col-sm-2"></div>
</div>
<!--Invitees -->
<div class="form-group">
 <label for="inputescription" class="col-sm-3 control-label">Invitees</label>
 <div class="col-sm-7">
  <table class="table table-responsive table-fixed">
   <thead>
    <tr>
     <th class="col-sm-1">#</th>
     <th class="col-sm-10">Name</th>
   </tr>
 </thead>
 <tbody>
  <tr>
   <td class="col-sm-1"><input type="checkbox" value="true"></td>
   <td class="col-sm-10">Mike Adams</td>
 </tr>
 <tr>
   <td><input type="checkbox" value="true"></td>
   <td>Holly Galivan</td>
 </tr>
 <tr>
   <td><input type="checkbox" value="true"></td>
   <td>Mike Adams</td>
 </tr>
 <tr>
   <td><input type="checkbox" value="true"></td>
   <td>Holly Galivan</td>
 </tr>
 <tr>
   <td><input type="checkbox" value="true"></td>
   <td>Mike Adams</td>
 </tr>
 <tr>
   <td><input type="checkbox" value="true"></td>
   <td>Holly Galivan</td>
 </tr>
</tbody>
</table>
</div>
<div class="col-sm-2"></div>
</div>

<!--Status -->
<div class="form-group">
 <label for="inputstatus" class="col-sm-3 control-label">Status</label>
 <div class="col-sm-3">
  <select class="form-control" name="cc_exp_yr">
   <option value="2014">Open</option>
   <option value="2015">Close</option>
   <option value="2016">Blocked</option>
 </select>
</div>
<div class="col-sm-2"></div>
</div>
</form>
<div class="modal-footer">
  <button type="button" class="btn btn-primary ok-btn-padding">OK</button>
  <button type="button" class="btn btn-default ok-btn-padding" data-dismiss="modal">Cancel</button>
</div>
</div>
</div>
</div>
</div>
<!-- ./ Show item --> 

</div>
</div>
