<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi, <%= @invitee.name %>!</p>
    <%binding.pry%>
    <p><%=@creator.user.name%> has invited you for the event- '<%=@creator.event_name%>'. Please send your response <a href="#">YES</a> | <a href="#">NO</a></p>
  </body>
</html>