
    <nav class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button  data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">Event Handler</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <!-- <img src="assets/images/Profile-Pic.jpg" alt="Profile picture" class="img-rounded profile-pic"> -->
                        <img src="<%= asset_path("Profile-Pic.jpg") %>" class="img-rounded profile-pic" alt="Profile picture" />
                        <span class="profile-name">Praveen Menon</span>
                    </li>
                    <li>
                        <!-- Sign up Button trigger modal -->
                        <button type="button" class="btn btn-success signup-login-btn">
                            Sign Out
                        </button>
                    </li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    <!--Content Area-->
    <div class="container">
        <div class="row">
            <!--Create Button trigger modal -->
            <button type="button" class="btn btn-warning btn-md pull-right" data-toggle="modal" data-target="#myCreate">
                Create New Event
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="event-panels">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="order-number">1 </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="event-title">birthday party </div>
                            <div class="organiser"> Praveen</div>
                            <div class="participants"><a href="#">participants</a> <span class="status">Open</span></div>
                        </div>
                    </div>
                </div>
                <div class="event-panels active">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="order-number">2 </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="event-title">function 2 </div>
                            <div class="organiser"> Praveen</div>
                            <div class="participants"><a href="#">participants</a> <span class="status">Open</span></div>
                        </div>
                    </div>
                </div>
                <div class="event-panels">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="order-number">3 </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="event-title">function 2 </div>
                            <div class="organiser"> Praveen</div>
                            <div class="participants"><a href="#">participants</a> <span class="status">Closed</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7"> 2</div>
        </div>
    </div>


    <!--    Footer-->

